---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Chi sono">
	<main>
		<h1>Chi sono</h1>
		<p>Questa è la pagina "Chi sono".</p>
	</main>
</Layout>

<style>
	main {
		padding: 2rem;
		max-width: 800px;
		margin: 0 auto;
	}
</style>