---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Benvenuto">
	<main>
		<h1>Enrico Morano</h1>
        <p>Il miglior sviluppatore php/js</p>
	</main>
</Layout>

<style>
	main {
		padding: 2rem;
		max-width: 800px;
		margin: 0 auto;
	}
	h1 {
		color: #2c3e50;
	}
</style>