---
import { ClientRouter } from 'astro:transitions';
import '../styles/global.css';
import Nav from '../components/Nav.astro';
import Cursor from '../components/Cursor.vue';

interface Props {
    title?: string;
}

const { title = 'Enrico Morano' } = Astro.props;
---

<html lang="it">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <ClientRouter />
    </head>
    <body class="bg-zinc-950 text-zinc-50 antialiased">
        <Cursor client:load />
        <Nav />
        <slot />
    </body>
</html>