---
import { ViewTransitions } from 'astro:transitions';
import '../styles/global.css';
import Nav from '../components/Nav.astro';
import Cursor from '../components/Cursor.vue';
import Footer from '../components/Footer.vue';

interface Props {
    title?: string;
}

const { title = 'Enrico Morano' } = Astro.props;
---

<html lang="it">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <ViewTransitions prefetch="load" />
    </head>
    <body class="flex flex-col min-h-screen antialiased select-none">
        <Cursor client:only="vue" />
        <Nav />
        <main class="flex-grow">
            <slot />
        </main>
        <Footer client:load />

        <script is:inline>
            // Previene il drag & drop di immagini e altri elementi
            document.body.addEventListener("dragstart", (e) => {
                e.preventDefault();
                return false;
            });
        </script>
    </body>
</html>